<div class="page">
    <header class="action-bar fixed-top">
      <a class="app-icon action">
        <i class="icon-location-marker"></i>
      </a>
      <h1 class="title">Teman Akuisisi</h1>
      <ul class="actions pull-right">
        <li><a href="/add" class="action" title="Add Point"><i class="icon-new"></i></a></li>
        <li><a class="action" title="Refresh" ng-click='refresh()'><i class="icon-refresh"></i></a></li>
        <li><a href="/account" class="action" title="Account" data-next="account" data-transition="push"><i class="icon-person"></i></a></li>
        <li><a href="/settings" class="action" title="Settings"><i class="icon-settings"></i></a></li>
      </ul>
    </header>
    <div class="content">
      <a href="/next">Next</a>
    </div>
</div>